DATABASE_URL="file:./dev.db"
JWT_SECRET="change_this_to_a_secure_random_value"
ADMIN_EMAIL="adminpost@admin.io"
ADMIN_PASSWORD="adminpost!"
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_ADMIN_EMAIL="adminpost@admin.io"
NEXT_PUBLIC_ADMIN_PASSWORD="adminpost!"
